.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.5s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}





.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease!important;
}

.list-enter-from,
.list-leave-to {
  opacity: 0!important;
  transform: scale(0) !important;
}

.list-leave-active {
  position: absolute!important;
}



